{% extends 'core/base.html' %}
{% load static %}

{% block title %}Historia{% endblock title %}

{% block content %}
    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mt-5">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 text-center">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Nosotros somos</span>
                </h2>
                <p>Para nosotros todo formalismo excesivo, el supuesto saber basado en la objetividad que excluye al sujeto conduce al empobrecimiento. Final de la certidumbre al tomar conciencia de las diversas lógicas y tiempos que marcan el devenir de los humanos. Final de la certidumbre al comprobar los aspectos paradójicos del inconsciente de los síntomas y de la misma cura psicoanalítica. </p>
                <p>Reconocemos la existencia de diferentes niveles de realidad, regidos por diversas lógicas tal y como ocurre con el ser humano. En este sentido no somos ni reduccionistas ni positivistas. </p>
                <p>Todo intento de reducir la realidad a un solo nivel es incompatible con nuestro espíritu, por lo tanto no se sitúan en el campo de un psicoanálisis de conceptos ampliados que hace de la epistemología relacional uno de sus basamentos. Es en este campo, donde se sitúa nuestra asociación.</p>         
                <p>Nuestro espíritu es decididamente abierto en la medida que va más allá del realismo ingenuo , va en busca de nuevas fronteras y correlaciona al psicoanálisis con el arte, la literatura ,la historia ,la antropología, la corporalidad, la poesía, la música y la experiencia interior. Una segunda área de exigencia está destinada a sentar las bases teóricas técnicas y prácticas de un psicoanálisis a través del arte. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto mt-3">
              <div class="bg-faded rounded p-5 text-center">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">El Modelo</span>
                </h2>
                <p>Es un modelo que trasciende la clásica dicotomía imagen vs palabra Nuestro modelo responde a dos psiquismos en relación a una obra creada Experiencia triùnica y la terceridad son condiciones enmarcadas dentro del arte de la relación. La propuesta yace inmersa en los principios elaborados por el paradigma de la complejidad del que el psicoanálisis de conceptos ampliados forma parte.</p>
                <p>El Psicoanálisis a través del arte es una práctica y un espacio de investigación abierto a los profesionales con un grado académico previo que encuentren en el psicoanálisis los fundamentos de su trabajo De tal modo nuestro modelo correlaciona dato clínico con dato cultural y a la inversa. </p>
                <p><b>Presidente:</b> Daniel Malpartida</p>         
                <p><b>Vice Presidente:</b> Cristian Idiáquez</p>  
                <p><b>Secretaria Cientifica:</b> Cecilia Rojas</p>         
                <p><b>Tesorera:</b> Malya Altamirano</p>         
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}